# Write Examples code for concatenation

In [1]:
# Concatenating two strings
str1 = "Hello"
str2 = "Friends"
result = str1 + " " + str2
print(result)

Hello Friends

In [3]:
# Concatenating two lists
even = [2, 4, 6]
odd = [1, 3, 5]
result = even + odd
print(result)

[2, 4, 6, 1, 3, 5]

# Write one Examples for each formatting techniques

In [4]:
Name="Bhargav"
age=20
formatted_string = "Name: %s, Age: %d" % (Name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: Bhargav, Age: 20

In [5]:
name = "Bhargav"
age = 20
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

My name is Bhargav and I am 20 years old.

In [6]:
name = "Bhargav"
age = 20
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

My name is Bhargav and I am 20 years old.

# Go Through Reference site and apply various options into formatting techniques

In [7]:
from string import Template
template = Template("Name: $name, Age: $age")
formatted_string = template.substitute(name=name, age=age)
print("Formatted string:", formatted_string)

Formatted string: Name: Bhargav, Age: 20

In [8]:
formatted_string = "Name: {}, Age: {}".format(name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: Bhargav, Age: 20

# Write example for each arithmetic operators

In [21]:
num1=20
num2=30

In [22]:
#Addition
summ=num1+num2
print(summ)

50

In [23]:
#Subtraction
sub=num2-num1
print(sub)

10

In [24]:
#Multiplication
mul=num1*num2
print(mul)

600

In [25]:
#Division
div=num2//num1
print(div)

1

In [26]:
#Modulus
mod=num1%num2
print(mod)

20

In [27]:
#Exponentiation
exp=num1**num2
print(exp)

1073741824000000000000000000000000000000

In [28]:
#floor Division
floor_division=num1//num2
print(floor_division)

0

# Write Example for assignment operators (except: = & +=)

In [29]:
num=9

In [30]:
num-=2
print("After subtraction assignment: ",num)

After subtraction assignment:  7

In [31]:
num*=2
print("After multiplication assignment:", num)

After multiplication assignment: 14

In [33]:
num/=3
print("After division assignment:", num)

After division assignment: 0.5185185185185185